 header{
    background: rgb(250, 155, 155);
    padding: 20px 0 ;
 }

 .caixa-nav {
    position: relative;
    width: 940px;
    margin: 0 auto;
 }
 
 h1{
    display: inline;
 }
  
 #logo {
      width: 300px;
 }

 nav{
    display: inline-block;
 }

 nav li{
    display: inline;
    margin: 10px;
 }

 nav a {
    text-transform: uppercase;
    color: rgb(30, 34, 34);
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
 }

  .produtos{
          width: 1200px;
          margin: 0 auto;
          padding: 45px;
  }

  .produtos li {
         display: inline-block;
         text-align: center;
         margin: 0 10px;
         
  }

 .item{
    width: 350px;
    height: 260PX;
 } 

 .produtos li h2{
   font-size: 30px;
   font-weight: bold;
   margin-bottom: 20px;
 }

