header{
    background: rgb(250, 155, 155);

    position: relative;
    width: 940px;
    margin: 0 auto;
}

 

 h1{
    display: inline;
 }
  
 #logo {
      width: 300px;
 }

 nav{
    display: inline-block;
 }

nav li{
    display: inline;
    margin: 10px;
}

 nav a {
    text-transform: uppercase;
    color: rgb(30, 34, 34);
     font-weight: bold;
     font-size: 20px;
     text-decoration: none;
 }

