body{
    background-color: rgb(80, 69, 53);
}
            
h1{
    text-align:center;
    background-color: rgb(151, 94, 158);
}

p{
    text-align:center;
    background-color: rgb(117, 51, 62);
}
      

   