body{
    background-color: rgba(80, 69, 53, 0.295);
}
            
h1{
    text-align:center;
    background-color: rgb(217, 202, 219);
}

p{
    text-align:center;
    background-color: rgb(242, 245, 239);
}
      
 strong{
      color: rgb(250, 250, 250);
 }
   