body{
    background-color: rgba(80, 69, 53, 0.295);
}
            
h1{
    text-align:center;
    background-color: rgb(58, 124, 179);
}

p{
    text-align:center;
    background-color: rgb(255, 255, 255);
}
      
 strong{
      color: rgb(255, 255, 255);
 }

 #imagem {
      width: 100%;
       height: 200px;
 }


 .beneficios{ 
       background-color: rgba(178, 190, 190, 0.123);
    }


    ul{
        display: inline-block;
        vertical-align: top;
        margin-right: 15%;
    }

  #imagen2 {
      width: 35%;
  }
    